h1 {
    text-align: center;
}
#skills {
    display: flex;
    justify-content: space-around;
    margin-top: 1vh;
}

#skills ul {
    display: block;
    text-align: center;
}

#skills ul li {
    border: 1px solid gray;
    box-shadow: 2px 1px 2px rgba(120, 23, 34,0.3);
    margin: 1px;
    position: relative;
}
#skills ul li::before {
    content: "👉 ";
    position: absolute;
    left: -3px;
}


@media screen and (max-width: 600px) {
    #skills {
        flex-direction: column;
        align-items: center;
    }

}